
html{
	color:#000;
	background: #FFF;
	padding:0;
	font: 15px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdan;
}
#navbar{
	width:450px; height:30px; background-color:#FFF;
	margin:0 auto;
	list-style-type: none
}
#navbar ul{margin:0;padding:0;}
#navbar ul li{float:left;list-style-type: none;}
#navbar ul li a{
	color:#fff; background-color: #6CAC2B;
	display:block;
	width:129px;
	text-align:center;
	padding:0px 10px;
	font: italic bold 15px/30px Tahoma ;
	text-decoration: none;
	margin-right:1px;
	list-style-type:none;
}
#navbar ul li a:hover{background-color: #B0F26D;}

#image_1{
	text-align:center;
	margin:0 auto;
	text-align:center;
}

#table1 table
{
	width:450px;
	text-align:center;
	margin:0 auto;
}

#table1 caption{
	font: 25px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdan;
	background-color:green;
	color:white;
}

#table1 table,td,th{
	border-collapse:collapse;
	border: 1px solid black;
	font: 18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdan;
	text-align:center;
}

#major{
	padding-left:600px;

}
#major ul{
	list-style-type:square;
	font-style: italic;
	text-align:left
}
#major ol{
	list-style-type:upper-roman;
}
h3{
	text-align:center;
	text-decoration:none;
	color:green;
}

